#about{
    max-height: 30%;
}
.about-data{
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.8em;
    box-shadow: rgb(39, 223, 223);
    
}
