#education{
  background: lightgrey;
  background-position:center;
}
.education-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 50px;
}

.timeline {
    position: relative;
    width: 95%;
    margin: auto;
}

.timeline-box {
    padding: 5px;
    width: 45%;
    min-height: 150px;
    position: relative;
    left: 2%;
    text-align: justify;
}

.timeline-box::after {
    content: '';
    position:absolute;
    width: 18px;
    height: 18px;
    margin-left:-14.2%;
    background-color: #0A2335;
    top: 25%;
    border-radius: 50%;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 60%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -6.5%;
}

.timeline-box:nth-child(2n)::after {
    left: -9%;
} 

.timeline-container {
    padding: 8px;

}

.timeline-logo {
    position: relative;
    width: 60px;
    overflow:hidden;
    /* background: inherit; */
}

.timeline-logo > img {
    width: 100%;
    background-color: lightgray;
}

#timeline-divider {
    position:absolute;
    width: 0;
    top:1%;
    /* bottom: -100000px; */
    left: 50%;
    border: 1px dashed black;
    height: 90%;
    color: #0A2335;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 495px;
    left: inherit;
    z-index: 2;
    
}

#timeline-divider img {
   
    margin-top: -30px;
    margin-left: -0.55em;

    display:block;
    color: #2857a4;
}

.course-name {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    word-wrap: break-word;
   
}

.company-name {
    
    color: #eb822d;
    font-weight: 490;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.time-duration {
    color: inherit;
    font-weight: 100;
    color: inherit;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    font-size: 14px;
    padding: 2px;
    color: inherit;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-align-justify {
    text-align: justify;
}

.timeline-box a:link{
    color: #eb822d
}
.timeline-box a:visited{
    color: #eb822d
}

/* .blue-bg { 
    background-color: #4D4545;
    color: #ED8D8D;
    height: 100%;
  }
  
  .circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #4D4545;
    max-height: 100px;
    z-index: 2;
  }
  
  .how-it-works.row {
    display:flex;
  }
  .how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
  }
  .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
  }
  .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .how-it-works.row .col-2.full::after {
    height: 70%;
    left: calc(30% - 5px);
  }
  .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
  }
  
  .timeline div {
    padding: 0;
    height: 40px;
  }
  .timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 20px;
    top: 17px;
    position: relative;
  }
  .timeline .col-2 {
    display: flex;
    overflow: hidden;
  }
  .timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }
  .timeline .top-right {
    left: 20%;
    top: -50%;
  }
  .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 10px);
  }
  .timeline .top-left {
    left: -50%;
    top: -50%;
  }
  .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  /* } */