/*Body Header*/

#body-header{
    height: auto;
    opacity: 1.2;
    background: #0A2335 url(../images/KIRTI_PHOTO.jpg) ;
    background-size:cover;
    background-position: center;
    background-attachment:scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    


    /*overflow: scroll;*/ 
}
@media screen and (max-width: 900px){
    #navi div a{
        padding:3px 2px  !important;
        display: block;
        color:white;
        text-decoration: none;
        text-align: center;
        float: left;
        margin: 5px !important;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.3rem;
    }
    nav{
        height: 75px !important;
    }
    #navi div a:hover{
        color:white !important;
        text-decoration: underline !important;
        /* text-shadow: rgba(230,196,196,0.3); */
        background: rgba(0, 0, 0, 0.7) !important;
        border-radius: 8px !important;
    }
    
}


/*Upper Navigation*/
nav{
    margin: 0px;
    /*display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink:initial;
    justify-content: space-evenly;
    flex-wrap: wrap;*/
    background: rgba(0,0, 0, 0.6);
    border-bottom: 1px solid;
    height: 68px;

}
#navi div a{
    color:white;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 12px 38px;
    font-size: 1.3rem;
}

#navi div a:hover{
    color:white;
    text-decoration: underline;
    /* text-shadow: rgba(230,196,196,0.3); */
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}


/*Horizontal List for social links*/
.h-list{
    list-style-type: none;
    padding-left: 0px;

}

.h-list li{
    display: inline-block;
    margin: 8px;
    margin-left: 1em;

}
.h-list li a{
    color: #fffff0;
    text-decoration: none;
    font-size: 1.5rem;
    

}

.h-list li a:hover{
    color: white;
    text-decoration: underline;
    text-shadow: rgba(230,196,196,0.3);
}

#header-title{
    color: black;
    font-size: 2.0rem;
    font-weight: 900;
    margin-top: -1.5rem;   
    letter-spacing: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    position:sticky;
    right:60%;
}


#subtitle{
    color: black;
    font-size: 1.4rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -2.5rem;
}


/* Social Icons*/


.social-icons li a img{
    padding: 0.5%;
    margin-bottom: 3.5em;
    border-radius: 100%;
    margin-left: 1rem;
}
.social-icons-contact  li a img{
    padding: 0.5%;
    border-radius: 100%;
    margin-left: 1rem;
    background: transparent;
}
.social-icons li a img:hover{
    
    box-shadow: 0px 0px 10px 5px white;
}
.social-icons-contact li a img:hover{
    
    box-shadow: 0px 0px 10px 5px #0A2335;
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 2em;
}


/*General Classes*/
.text-center{
    text-align: center; ;
}
.text{
    padding-top: 350px;
}
.justify{
    text-align: justify;
}
.left-align{
    text-align: left;
}


