
.skill-heading{  
  display: flex;
    flex-direction: row;
    padding-left: 42vw;
    padding-right: 15vw;
    padding-top: 0.5vw;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    background-color:lightgray ;
}

.skill-definition{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:inherit;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: lightgray ;

}

.display-information{
    height:max-content;
    width: 11rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    border: 2px solid rgb(10, 35, 53);
    margin-left: 1em;
    box-shadow: 0px 0px 8px 5px rgb(10, 35, 53);
    margin-top: 2em;
    margin-bottom: 2rem;
}

.Html-skill{
    background-color:indigo;
    border-radius: 1rem;
    height: inherit;
    width: 80%;
}
.Css-skill{
    background-color: brown;
    border-radius: 1rem;
    height: inherit;
    width: 70%;

}
.C-skill{
    background-color: darkolivegreen;
    border-radius: 1rem;
    height: inherit;
    width: 85%;
}
.lang-skill{
    background-color: darkblue;
    border-radius: 1rem;
    height:inherit;
    width: 90%; 
}
.structure-skill{
    background-color:darkgoldenrod;
    border-radius: 1rem;
    height: inherit;
    width: 85%;
}
.java-skill{
    background-color: darkolivegreen;
    border-radius: 1rem;
    height:inherit;
    width: 75%;


}
.adobe-skill{
    background-color:purple;
    border-radius: 1rem;
    height: inherit;
    width: 65%;


}
.interpersonal-skill{
    background-color:darkgoldenrod;
    border-radius: 1rem;
    height: inherit;
    width: 90%;

}
span{
    margin-left: 0.5rem;
    color: white;
    font-size: 1.2rem;
}

/*.chart {
    position: relative;
    display: inline-block;
    width: 171px;
    height: 171px;
    margin: 50px 0 50px 0;
    text-align: center;
  }
  .chart.first{ margin-left:0;}
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 170px;
    z-index: 2;
    font-size:30px;
    font-weight: bold;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
  .skill-name{
      bottom: -37px;
      left: 0;
      position: absolute;
      width: 100%;
  }
  
  @media only screen and (max-width: 976px) {
    .piecharts { padding: 65px 20px !important;}
    .red-circle, .purple-circle { margin-left: 0 !important;}
  }
  
  
  
  
  .green-circle, .yellow-circle, .purple-circle, .red-circle {
    position: relative;
    display: inline-block;
    width: 171px;
    height: 171px;
     margin: 50px 0 50px 74px; 
    text-align: center;
  }
  .green-circle canvas, .yellow-circle canvas, .purple-circle canvas, .red-circle canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  
  /* piecharts 
  .piecharts{ text-align:center;  }*/


